[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "bismarkplot"
version = "1.3.2.post1"
authors = [
  { name="shitohana", email="kyudytskiy@gmail.com" },
]
keywords = ['bismark', 'methylation', 'plot', 'bs-seq']
license = {file = "LICENSE.txt"}
dependencies = [
    "matplotlib>=3.7.1",
    "numpy>=1.24.2",
    "pandas>=2.0.0",
    "polars>=0.17.5",
    "scipy>=1.10.1",
    "pyarrow>=13.0.0",
    "pyreadr>=0.4.9",
    "dynamicTreeCut>=0.1.1"
]
description = "Analytical framework for BS-seq data comparison and visualization"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]
# dynamic = ["version", "description"]

[project.urls]
Homepage = "https://github.com/shitohana/BismarkPlot"
Documentation = "https://shitohana.github.io/BismarkPlot/"
"Bug Tracker" = "https://github.com/shitohana/BismarkPlot/issues"

[tool.hatch.build]
exclude = ["/venv", "/dist", "/test"]

[project.scripts]
bismarkplot-metagene = "bismarkplot.console_metagene:main"
bismarkplot-chrs = "bismarkplot.console_chrs:main"