[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "bismarkplot"
version = "0.2.5"
authors = [
  { name="shitohana", email="kyudytskiy@gmail.com" },
]
keywords = ['bismark', 'methylation', 'plot']
license = {file = "LICENSE.txt"}
dependencies = [
    "matplotlib>=3.7.1",
    "numpy>=1.24.2",
    "pandas>=2.0.0",
    "polars>=0.17.5",
    "scipy>=1.10.1"
]
description = "A small library to plot Bismark methylation_exctractor reports."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]
# dynamic = ["version", "description"]

[project.urls]
Homepage = "https://github.com/shitohana/BismarkPlot"
Documentation = "https://shitohana.github.io/BismarkPlot/"
"Bug Tracker" = "https://github.com/shitohana/BismarkPlot/issues"

[tool.hatch.build]
exclude = ["/venv", "/dist", "/test"]