biopython>=1.81
dynamicTreeCut>=0.1.1
fastcluster>=1.2.6
Jinja2>=3.1.2
matplotlib>=3.8.0
numba>=0.58.1
numpy>=1.26.3
pandas>=2.2.0
plotly>=5.18.0
polars>=0.20.7
progress>=1.6
pyarrow>=13.0.0
pyreadr>=0.4.9
scikit-learn>=1.4.0
scipy>=1.12.0
seaborn>=0.13.2
